.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
  background: rgb(56, 7, 148);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title {
 color:blanchedalmond;
 font-size: 45px;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 margin-bottom: 20px;
}
.container {
  background-color: blanchedalmond;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.restartBtn{
	font-size: 20px;
	background-color: rgb(233, 113, 77);
	color:blanchedalmond;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 5px 15px rgba(255, 115, 0, 0.4);
	padding: 15px 40px;
}


 