.field{
display: grid;
grid-template-columns: repeat(3, 100px);
grid-template-rows: repeat(3, 100px);
gap: 10px;
background-color: rgb(194, 161, 255);
padding: 20px;
border-radius: 15px;
box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.5);
}

.el{
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  background-color: blanchedalmond;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.el:hover {
  background-color: #fdcda0;
  transform: scale(1.05);
}

.el:disabled {
  cursor: not-allowed;
  opacity: 0.9;
  transform: none;
}

.el.x {
  color: #667eea;
}

.el.o {
  color: #e0992d;
}
